{% extends "_includes/default.njk" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <main class="h-screen">
    <div class="flex h-full p-12 {{ containerClasses }}">
      {% image image, imageAlt, imageClasses %}
    </div>

    {% set previousPost = collections.post | getPreviousCollectionItem(page) %}
    {% set nextPost = collections.post | getNextCollectionItem(page) %}

    <div class="absolute inset-0 flex {% if not previousPost %}justify-end{% endif %}">
      {% if previousPost %}<a class="w-1/2 h-full" href="{{ previousPost.url | url }}"></a>{% endif %}
      {% if nextPost %}<a class="w-1/2 h-full" href="{{ nextPost.url | url }}"></a>{% endif %}
    </div>
  </main>
{% endblock %}
